*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800;900&display=swap');
}
.botao-menu,.botao-menu-um,.botao-menu-dois{
    display: none;
}
.topo{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.menu :hover{
    color: #000;
    font-weight: 800;
}
.menu{
    padding-right: 2vw;
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    font-size: 15px;
    list-style-type: none;
    text-decoration: none;
    color: gray;
}
.container-menu{
    display: flex;
}
.laranja-azul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:2vh;
    width:100vw;
    height: 83vh;
    background-image: url("laranja.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.laranja-h2{
    padding-left: 5vw;
    font-family: "Montserrat",sans-serif;
    font-weight: 900;
    font-size: 55px;
    color: #ffff;
}
.laranja-p{
    padding: 10vh 0vw 0vh 5vw;
    font-family: "Montserrat",sans-serif;
    font-size: 25px;
    text-transform:uppercase;
}
.p-botao{
    text-decoration: none;
    color: #ffff;
}
main{
    height: 150vh;
}
.galeria-um{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.primeira-linha{
    width: 20vw;
    height: 40vh;
    margin-right: 1vw;
}
.galeria-dois{
    height: 35vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.segunda-linha{
    width: 20vw;
    height: 40vh;
    margin-right: 1vw;
}
.galeria-tres{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.terceira-linha{
    width: 20vw;
    height: 40vh;
    margin-right: 1vw;
}
footer{
    height: 10vh;
    background-color: #f6f6f6;
}
.redes{
    display: flex;
    width: 45vw;
    height: 10vh;
    justify-content:center;
    align-items: center;
}
.img-redes{
    display: flex;
    width: 3vw;
    height: 3vh;   
}
.copyright{
    margin-left: 10vw;
    font-weight: 800;
    font-size: 17px;
}
@media (max-width: 500px) {
    html{
        width: 100%;
    }
    header{
        position:relative;
    }
    .botao-menu{
        display: block;
        width: 30vw;
        height: 7vh;
        background-color:#000;
    }
    .reta-um,.reta-dois,.reta-tres{
        display: flex;
        position: relative;
        height: 0.25vh;
        background-color: #f6f6f6;
    }
    .reta-um{
        right: 20vw;
        width: 8vw;
    }
    .reta-dois{
        right: 29.2vw;
        width: 8vw;
        top: 1vh;
    }
    .reta-tres{
        right: 38.5vw;
        top: 2vh;
        width: 8vw;
    }
    .topo{
        height: 3vh;
    }
    h1{
        position: relative;
        right: 15vw;
        margin-top: 2vh;
        display: flex;
        justify-content: center;
    }
    .laranja-azul{
        height: 150vw;
        width: 100%;
        background-image: url("laranja.png");
        background-size:400vw;
        background-position:-250vw;
    }
    .laranja-h2{
        margin-top: 43vh;
        font-size: 40px;
    }
    .laranja-p{
        font-size: 12px;
        padding: 1vh 0vw 0vh 5vw;
        font-weight:300;
    }
    .container-menu{
        display: none;
    }
    .galeria-um,.galeria-dois,.galeria-tres{
        display:flex;
        flex-direction: column;
    }
    .galeria-um{
        margin-top: 60vh;
    }
    .galeria-dois{
        margin-top: 117vh;
    }
    .galeria-tres{
        margin-top: 117vh;
    }
    .primeira-linha,.segunda-linha,.terceira-linha{
        padding: 3%;
        width: 40vh;
        height: 40vh;
    }
    footer{
        display: flex;
        justify-content: center;
        margin-top: 285vh;
    }
    .img-redes{
        width: 20vh;
        margin-right: 17px;
    }
    .copyright{
        display: none;
    }
}